/* 공통요소 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}
a {
  color: #191919;
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  font-family: "Noto Sans KR", serif;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0px;
  color: #191919;
  word-break: keep-all;

  min-width: 320px;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #baa693;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: #f8f0e5;
}
::selection {
  background-color: #baa693;
  color: #fff;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f8f0e5 inset;
}
.clearfix::after {
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
.inner {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* 문의하기 btn */
.contact-btn {
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 9999;
}
.contact-btn img {
  animation: rotate_image 25s linear infinite;
  transform-origin: 50% 50%;
  width: 120px;
}
.con-hover {
  width: 100px;
  padding: 20px;
  opacity: 0;
  position: fixed;
  right: 22px;
  bottom: 130px;
  transition: 0.2s all;
}
.con-hover p {
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 500;
  color: #887160;
}
.contact-btn:hover .con-hover {
  opacity: 1;
  transition: 0.2s all;
}
@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}


.top-button{
  position: fixed;
  right: 80px;
  bottom: 80px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* font-size: 50px; */
  background-color: #baa693;
  z-index: 999999999;
  color: #fff;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
  scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
}
.top-button:hover{
  background-color: #887160;
}

