/* ν‘Έν„° */
.footer a{
    text-decoration: underline;
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 360px) {
}
