/* 패키지 */
.package {
  position: relative;
  display: block;
  background: url("../images/makeupback_gra.png") no-repeat center;
  background-size: cover;
  padding: 100px 0;
}
.package-wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.m-pk-text-wrap {
  position: relative;
  width: 100%;
  text-align: center;
}
.m-pk-text-wrap h2 {
  font-family: "Noto Serif KR", "serif";
  font-weight: bold;
  font-size: 68px;
  color: #282828;
  margin-bottom: 50px;
}
.m-pk-text-wrap p {
  font-family: "Noto Sans KR";
  font-size: 18px;
  line-height: 30px;
  color: #474747;
  margin-bottom: 50px;
}
.m-pk-text-wrap p span {
  font-family: "Noto Serif KR", "serif";
}
.m-pk-more-btn {
  font-family: "Noto Sans KR";
  font-size: 18px;
  color: #887160;
  text-transform: uppercase;
  background: transparent;
  width: 120px;
  height: 48px;
  border: 2px solid #887160;
  border-radius: 50px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background: none;
  padding-bottom: 3px;
}
.m-pk-more-btn:hover {
  color: #fff;
  border: 2px solid #887160;
  background-color: #887160;
  transition: 0.2s ease-in-out;
}
.m-pk-img-wrap {
  width: 100%;
  margin: 0 auto;
}
.m-pk-img-wrap li img {
  width: 100%;
}
.m-pk-img-wrap > li {
  width: 300px;
  text-align: center;
}
.pk-li-wrap {
  overflow: hidden;
  border-radius: 50px;
}
.m-pk-img-wrap li p {
  font-family: "Noto Serif KR";
}
.m-pk-img-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.m-pk-img-wrapper > .m-pk-img-wrap > li > p {
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #474747;
}
.m-pk-sale-wrap {
  border: 2px solid #887160;
  width: 600px;
  padding: 40px 0;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.m-pk-sale-wrap h2 {
  font-size: 26px;
  font-family: "Noto Sans KR";
  font-weight: bold;
  margin: 0;
  padding: 25px;
}
.m-pk-sale-wrap h2 span {
  font-size: 38px;
  font-family: "Noto Sans KR";
  font-weight: bold;
  color: #887160;
}
.m-pk-timesale p {
  margin: 0;
  padding: 10px;
}
.m-pk-timesale img {
  width: 27%;
}

.m-pk-timesale .sal {
  color: #e3545e;
  font-size: 22px;
  font-weight: 500;
}
/* 반응형 */
@media all and (max-width: 1495px) {
  .package {
    width: 100%;
    max-width: 1495px;
    padding: 50px;
  }
}
@media all and (max-width: 1400px) {
  .package {
    width: 100%;
    max-width: 1400px;
    padding: 100px 0;
  }
  .m-pk-img-wrap {
    margin: 0 auto;
  }
  .m-pk-img-wrap li img {
    width: 90%;
  }
  .m-pk-img-wrap > li {
    margin: 0 15px;
  }
}
@media all and (max-width: 1024px) {
  .pk-li-wrap {
    border-radius: 20px;
  }
  .m-pk-more-btn {
    width: 120px;
    height: 50px;
    font-size: 18px;
    padding-bottom: 2px;
  }
}
@media all and (max-width: 768px) {
  .m-pk-text-wrap h2 {
    font-size: 60px;
  }
  .m-pk-sale-wrap {
    width: 500px;
    padding: 20px 0;
  }
  .m-pk-sale-wrap h2 {
    font-size: 22px;
  }
  .m-pk-sale-wrap h2 span {
    font-size: 30px;
  }
  .m-pk-timesale .pri {
    font-size: 14px;
  }
  .m-pk-timesale .sal {
    font-size: 20px;
  }
  .m-pk-img-wrapper .m-pk-img-wrap li p {
    font-size: 17px;
  }
  .m-pk-timesale img {
    width: 30%;
  }
}
@media all and (max-width: 540px) {
  .m-pk-text-wrap h2 {
    font-size: 48px;
  }
  .m-pk-text-wrap p {
    font-size: 14px;
  }
  .m-pk-sale-wrap {
    width: 420px;
    padding: 20px 0;
  }
  .m-pk-sale-wrap h2 {
    font-size: 20px;
  }
  .m-pk-sale-wrap h2 span {
    font-size: 26px;
  }
  .m-pk-timesale .pri {
    font-size: 14px;
  }
}
@media all and (max-width: 480px) {
  .m-pk-img-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .m-pk-img-wrap li {
    margin-bottom: 15px;
  }
  .m-pk-sale-wrap h2 {
    font-size: 16px;
  }
  .m-pk-sale-wrap h2 span {
    font-size: 22px;
  }
  .m-pk-text-wrap p {
    font-size: 14px;
  }
  .m-pk-timesale .pri {
    font-size: 16px;
  }
  .m-pk-sale-wrap {
    width: 360px;
    padding: 20px 0;
  }
  .m-pk-timesale img{
    width: 43%;
  }
}
@media all and (max-width: 380px) {
  .m-pk-text-wrap h2 {
    font-size: 40px;
  }
  .m-pk-text-wrap p {
    font-size: 12px;
  }
  .m-pk-sale-wrap {
    width: 320px;
    padding: 20px 0;
  }
  .m-pk-sale-wrap h2 {
    font-size: 15px;
  }
  .m-pk-sale-wrap h2 span {
    font-size: 18px;
  }
  .m-pk-timesale .pri {
    font-size: 12px;
  }
  .m-pk-timesale .sal {
    font-size: 16px;
  }
  .m-pk-timesale img {
    width: 40%;
  }
}
@media all and (max-width: 320px) {
  .m-pk-text-wrap h2 {
    font-size: 38px;
  }
  .m-pk-text-wrap p {
    font-size: 12px;
  }
  .m-pk-sale-wrap {
    width: 300px;
    padding: 20px 0;
  }
  .m-pk-sale-wrap h2 {
    font-size: 14px;
  }
  .m-pk-sale-wrap h2 span {
    font-size: 16px;
  }
  .m-pk-timesale .pri {
    font-size: 12px;
  }
  .m-pk-timesale .sal {
    font-size: 16px;
  }
  .m-pk-img-wrapper .m-pk-img-wrap li p {
    font-size: 16px;
  }
}