/* 패키지 */
.package {
  position: relative;
  background: url("../images/makeupback_gra.png") no-repeat center;
  background-size: cover;
  padding: 100px 0;
  display: flex;
  align-items: center;
}
.package-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.package-text-wrap {
  position: relative;
  display: block;
}
.package-title {
  font-family: "Noto Serif KR", "serif";
  text-transform: uppercase;
  font-size: 56px;
  font-weight: bold;
  color: #887160;
}
.package-text-wrap p {
  font-family: "Noto Sans", "serif";
  margin-top: 50px;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #887160;
}
.package-text-wrap p span {
  text-transform: uppercase;
  font-size: 22px;
  color: #887160;
  font-family: "Ragara";
}
.package-more-btn {
  font-family: "Noto Sans", "serif";
  margin-top: 50px;
  padding: 8px 18px;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 50px;
  background: none;
  border: 1px solid #887160;
  color: #887160;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.package-more-btn:hover {
  background-color: #887160;
  border: 1px solid #887160;
  color: #fff;
  transition: 0.15s ease-in-out;
}
.package-main-wrap {
  position: relative;
  display: block;
}
.package-main-wrap img {
  position: absolute;
  width: 470px;
  right: 0;
}
.packimgwrap {
  margin-top: 72px;
  width: 850px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.package-review-wrap {
  cursor: pointer;
}
.packimgli1:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.packimgli2:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.packimgli3:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}
.packimgwrap li {
  box-shadow: 5px 5px 10px #00000066;
  cursor: pointer;
}
.packimgwrap li:first-child {
  position: relative;
  width: 220px;
  height: 330px;
  background: url("../images/pk_weddinghall_2.webp") no-repeat center;
  background-size: cover;
  border-radius: 500px;
  transition: transform 0.3s;
}
.packimgwrap li:first-child img {
  object-fit: cover;
  position: absolute;
  top: -30px;
  left: -30px;
  display: none;
}
.packimgwrap li:first-child:hover img {
  display: block;
}
.packimgwrap li:nth-child(2) {
  position: relative;
  width: 220px;
  height: 330px;
  background: url("../images/makeup7.jpg") no-repeat center;
  background-size: cover;
  border-radius: 500px;
  transition: transform 0.3s;
}
.packimgwrap li:nth-child(2) img {
  object-fit: cover;
  position: absolute;
  top: -30px;
  left: -30px;
  display: none;
}
.packimgwrap li:nth-child(2):hover img {
  display: block;
}
.packimgwrap li:nth-child(3) {
  position: relative;
  width: 220px;
  height: 330px;
  background: url("../images/studio5.jpg") no-repeat center;
  background-size: cover;
  border-radius: 500px;
  transition: transform 0.3s;
}
.packimgwrap li:nth-child(3) img {
  object-fit: cover;
  position: absolute;
  top: -30px;
  left: -30px;
  display: none;
}
.packimgwrap li:nth-child(3):hover img {
  display: block;
}
/* 모달창 */
.pk-modal {
  width: 650px;
  height: 780px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 999;
}
.pk-modal-list1 {
  display: flex;
  flex-direction: column;
}
.pk-modal-map img {
  width: 287px;
  height: 196px;
}
.pk-modal-text {
  margin-top: 15px;
}
#pkModalTitle {
  font-size: 28px;
  font-weight: bold;
  color: #887160;
  margin-bottom: 10px;
}
#pkModalPlace {
  font-family: "Noto Sans", "serif";
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.pk-modal-wraper2 {
  width: 620px;
  height: 750px;
  border: 8px solid #887160;
  margin: 0 auto;
  margin-top: 15px;
}
.pk-modal-wrap-btn {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pk-modal-wrap-close {
  display: flex;
  flex-direction: column;
  flex-direction: row-reverse;
}
.pk-modal-img {
  width: 50%;
  height: 35%;
  padding: 15px;
  margin: 0 !important;
  float: left;
}
#pkModalImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.modal-wraper {
  display: flex;
  width: 100vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
.pk-close {
  cursor: pointer;
  position: absolute;
  top: 0;
  font-size: 33px;
  color: #ffffff;
  background-color: #887160;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 30px;
}
.pk-close:hover {
  color: #000000;
}
.pk-modal-list2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60%;
  text-align: center;
}
.pk-modal-list2 h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #887160;
}
.pk-modal-list2 p {
  font-family: "Noto Sans", "serif";
  line-height: 20px;
}
.hall-notice-modal {
  margin-top: 35px;
  padding: 0 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.hall-notice-modal div {
  width: 150px;
  height: 170px;
  background-color: #e7ded7;
}
.hall-notice-modal2 div {
  width: 150px;
  height: 170px;
  background-color: #e7ded7;
}
.hall-notice-modal2 {
  padding: 0 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mo-notice-text-wrap {
  line-height: 30px;
}
.pk-modal-list01,
.pk-modal-list02,
.pk-modal-list03 {
  display: none;
}
/* pk-modal-list02 */
#pkModalTitle2 {
  font-family: "Noto Sans", "serif";
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
.pk-modal-list02 {
  height: 100%;
}
.pk-make-modal-list2 {
  position: relative;
  display: block;
  width: 100%;
  height: 50%;
}
.pk-make-modal-list2 h2 {
  font-size: 22px;
  font-weight: bold;
  color: #887160;
}
.pk-modal-text p {
  font-family: "Noto Sans", "serif";
  font-size: 12px;
  margin-bottom: 10px;
  color: #868686;
}
.pk-modal-text h3 {
  font-family: "Noto Sans", "serif";
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
.pk-modal-text h3 span {
  font-family: "Noto Sans", "serif";
  font-size: 22px;
  font-weight: bold;
  color: #d82a56;
}
.make-title-wrap h2 {
  margin-top: 50px;
  margin-bottom: 15px;
}
.make-text-wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.make-main-text-wrap {
  display: inline-block;
  float: left;
  margin-left: 15px;
}
.make-map-text h2 {
  margin-top: 50px;
}
.make-map-text p {
  font-family: "Noto Sans", "serif";
  margin-top: 15px;
  margin-left: 20px;
}
.make-text-wrap {
  text-align: left;
  height: 50%;
}
.make-text-wrap-list {
  margin-left: 20px;
}
.make-text-wrap-list1 h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.make-text-wrap-list1 p {
  font-family: "Noto Sans", "serif";
  margin-bottom: 10px;
}
.make-text-wrap-list2 h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.make-notice-modal {
  width: 300px;
  height: 100%;
  position: relative;
  display: inline-block;
}
.make-img-list {
  position: absolute;
  width: 287px;
  height: 300px;
  background: url("../images/makeup7-2.jpg") no-repeat center;
  background-size: cover;
  top: 50px;
  right: -289px;
}
/* pk-modal-list03 */
.studio-text-wrap-list1 h3,
.studio-text-wrap-list2 h3,
.studio-text-wrap-list3 h3,
.studio-text-wrap-list4 h3,
.studio-text-wrap-list5 h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}
.studio-text-wrap-list4 span,
.studio-text-wrap-list5 span {
  color: #9f9f9f;
}
.studio-text-wrap-list {
  font-family: "Noto Sans", "serif";
  padding: 5px;
  padding-bottom: 8px;
  margin-right: 15px;
  /* background-color: #e7ded7; */
}
.pk-studio-modal-list2 {
  margin-top: 10px;
}
.studio-img-list {
  width: 95%;
  height: 300px;
  margin: 0 auto;
  background: url("../images/studio5.jpg") no-repeat top;
  background-size: cover;
}
/* 반응형 */
@media all and (max-width: 1520px) {
  .package {
    padding: 100px;
  }
  .package-title {
    margin-top: 50px;
  }
  .packimgwrap {
    margin: 0 auto;
  }
  .package-main-wrap img {
    display: none;
  }
  .package-more-btn {
    margin-bottom: 50px;
  }
}
@media all and (max-width: 768px) {
  .package {
    width: 100%;
    max-width: 768px;
    position: relative;
    margin: 0 auto;
  }
  .package-wrap {
    width: 100%;
    height: auto;
  }
  .package-main-wrap {
    display: none;
  }
  .package-img-wrap {
    margin-top: 100px;
  }
  .packimgwrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .package-text-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .package-text-wrap p {
    text-align: center;
  }
  .packimgwrap li:first-child,
  .packimgwrap li:nth-child(2),
  .packimgwrap li:nth-child(3) {
    margin: 20px;
  }
  .packimgli2 {
    margin-top: 200px;
  }
  /* .packimgwrap li {
    margin-bottom: -50px;
  } */
  .package-more-btn {
    position: absolute;
    top: 1450px;
    margin: 0 auto;
  }
}
@media all and (max-width: 736px) {
  .package {
    position: relative;
    margin: 0 auto;
    max-width: 736px;
  }

  .package-text-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .package-more-btn {
    top: 1450px;
  }
  .package-text-wrap p {
    width: 150%;
  }
}
@media all and (max-width: 480px) {
  .package {
    width: 100%;
    max-width: 480px;
    position: relative;
    margin: 0 auto;
  }
  .package-wrap {
    width: 100%;
    height: auto;
  }
  .package-more-btn {
    top: 1435px;
  }
  .package-text-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .package-title {
    width: 200%;
    font-size: 45px;
  }
  .package-text-wrap p {
    width: 200%;
    font-size: 16px;
  }
  .package-text-wrap p span {
    font-size: 16px;
  }
}
@media all and (max-width: 320px) {
  .package {
    padding: 100px 0;
  }
  .package-text-wrap {
    text-align: center;
  }
  .package-text-wrap h2 {
    font-size: 30px;
  }
  .package-text-wrap p {
    margin-top: 30px;
    font-size: 14px;
    width: 100%;
  }
  .package-title {
    width: 100%;
  }
  .package-text-wrap p span {
    font-size: 14px;
  }
  .packimgwrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }
  .packimgwrap li:first-child,
  .packimgwrap li:nth-child(2),
  .packimgwrap li:nth-child(3) {
    width: 150px;
    height: 220px;
  }
  .package-more-btn {
    top: 1105px;
    font-size: 14px;
  }
}
