/* 패키지 리뷰 */
.package-review {
  position: relative;
  display: block;
  width: 100%;
  padding: 100px 0;
}
.pk-review-wrap {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.pk-review-text-wrap {
  text-align: center;
}
.pk-review-text-wrap h2 {
  font-family: "Noto Serif KR", "serif";
  font-weight: bold;
  font-size: 68px;
  text-transform: uppercase;
  color: #282828;
  margin-bottom: 50px;
}
.pk-review-text-wrap p {
  font-family: "Noto Sans KR";
  font-size: 18px;
  line-height: 30px;
  color: #474747;
  margin-bottom: 50px;
}
.pk-review-text-wrap p span {
  font-weight: bold;
}
.pk-letter img {
  width: 70%;
}
.pk-review-click-btn {
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-weight: 500;
  color: #887160;
  text-transform: uppercase;
  background: transparent;
  width: 120px;
  height: 48px;
  border: 2px solid #887160;
  border-radius: 50px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  padding-bottom: 3px;
}
.pk-review-click-btn:hover {
  color: #fff;
  border: 2px solid #887160;
  background-color: #887160;
  transition: 0.2s ease-in-out;
}
/* 모달창 */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 998;
}
.package-modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  z-index: 999;
}
.modal-wraper {
  position: relative;
  display: flex;
  width: 100vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
#modalImage {
  position: relative;
  background: no-repeat center;
  background-size: cover;
  width: 45%;
}
.modal-wrap-close {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-direction: row-reverse;
}
.package-close {
  position: absolute;
  top: -385px;
  right: 40px;
  font-size: 32px;
  color: #000;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 30px;
  cursor: pointer;
}
.package-close:hover {
  color: #887160;
}
@media all and (max-width: 1024px) {
  .pk-review-click-btn {
    width: 120px;
    height: 48px;
    font-size: 18px;
    padding-bottom: 2px;
  }
}
@media all and (max-width: 768px) {
  .pk-review-text-wrap h2 {
    font-size: 60px;
  }
  .pk-review-click-btn {
    font-size: 18px;
    width: 120px;
    height: 48px;
    top: 78%;
  }
  .package-close {
    top: -240px;
    right: 25px;
    font-size: 30px;
  }
  #modalImage{
    width: 70%;
  }
}
@media all and (max-width: 480px) {
  .pk-review-text-wrap h2 {
    font-size: 48px;
  }
  .pk-review-text-wrap p {
    font-size: 14px;
  }
  .pk-review-click-btn {
    top: 83%;
    width: 80px;
    height: 35px;
    font-size: 14px;
    text-align: center;
  }
}
@media all and (max-width: 420px) {
  .pk-review-text-wrap h2 {
    font-size: 48px;
  }
  .pk-review-text-wrap p {
    font-size: 14px;
  }
  .pk-review-click-btn {
    top: 83%;
    width: 80px;
    height: 35px;
    font-size: 14px;
    text-align: center;
  }
  #modalImage {
    width: 95%;
  }
  .package-close {
    font-size: 26px;
    top: -173px;
    right: 15px;
  }
}
@media all and (max-width: 360px) {
  .pk-review-text-wrap h2 {
    font-size: 40px;
  }
  .pk-review-text-wrap p {
    font-size: 12px;
  }
  .pk-review-click-btn {
    font-size: 11px;
    width: 60px;
    height: 28px;
    top: 84%;
  }
  .package-close {
    top: -160px;
    right: 12px;
    font-size: 22px;
  }
}
@media all and (max-width: 320px) {
  .pk-review-text-wrap h2 {
    font-size: 40px;
  }
  .pk-review-text-wrap p {
    font-size: 12px;
  }
  .pk-review-click-btn {
    width: 120px;
    height: 48px;
    font-size: 18px;
    padding-bottom: 2px;
    margin-top: 50px;
    top: 93%;
  }
  .package-close {
    top: -145px;
    right: 8px;
    font-size: 22px;
  }
}
