@charset "utf-8";
.contact {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 101px;
}
.contact-open-wrap {
  width: 100%;
  margin: 0 auto;
}
.contact-open-wrap img {
  position: relative;
  display: block;
  width: 99vw;
  height: 50vh;
}
.open-text-wrap {
  position: absolute;
  display: block;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.open-text-wrap h2 {
  font-size: 58px;
  font-family: "Noto Serif KR", serif;
  font-weight: 500;
  text-transform: uppercase;
}
.open-text-wrap p {
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 17px;
  line-height: 26px;
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
}
.back-wrap {
  padding: 20px 0;
  border-bottom: 1px solid #cdc5bf;
  border-top: 1px solid #cdc5bf;
}
.back-wrap img {
  width: 10px;
  height: 15px;
}
.back-wrap a {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.contact-main-wrap {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}
.con-text-wrap h2 {
  font-size: 22px;
  font-family: "Noto Sans KR";
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}
.con-text-wrap p {
  font-size: 16px;
  font-family: "Noto Sans KR";
  line-height: 20px;
}
.contact-form-input {
  width: 50%;
}
.contact-form-title {
  width: 50%;
}
.contact-form-item-title {
  font-family: "Noto Sans KR";
  font-size: 16px;
  margin-bottom: 10px;
}
.contact-form-item {
  width: 100%;
  padding: 20px;
  background: #fff;
  margin-bottom: 12px;
  transition: 0.2s all;
  border: 1px solid transparent;
}
.contact-form-item:hover {
  border: 1px solid #887160;
}
.contact-form-item-input input {
  width: 100%;
  border: none;
}
.contact-form-agree {
  font-family: "Noto Sans KR";
  width: 100%;
  white-space: nowrap;
}
.contact-form-agree a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: underline;
  color: #222;
  display: block;
  margin-left: 20px;
}
.contact-form-agree a:hover {
  color: #887160;
}
.co-submit {
  background: #887160;
  color: #fff;
  width: 200px;
  font-size: 0.7rem;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  border: none;
  cursor: pointer;
}
.contact-form-agree {
  display: flex;
  align-items: center;
}
.mand2 {
  display: flex;
  align-items: center;
}
#mand1[type="checkbox"] {
  position: absolute;
  padding: 15px;
  background-color: #887160;
}
input::-webkit-input-placeholder {
  color: rgb(207, 207, 207);
}
#message {
  color: #887160;
}
@media all and (max-width: 1440px) {
  .contact {
    width: 100%;
    max-width: 1440px;
  }
  .back-wrap {
    padding: 20px 30px;
  }
  .contact-main-wrap {
    padding: 0 30px;
  }
}
@media all and (max-width: 1024px) {
  .contact {
    width: 100%;
    max-width: 1024px;
  }
  .con-text-wrap h2 {
    font-size: 20px;
  }
  .con-text-wrap p {
    font-size: 14px;
  }
}
@media all and (max-width: 480px) {
  .contact {
    width: 100%;
    max-width: 480px;
  }
  .contact-main-wrap {
    flex-direction: column;
  }
  .contact-form-item {
    width: 420px;
  }
  .contact-form-item:first-child {
    margin-top: 12px;
  }
  .con-text-wrap h2 {
    font-size: 18px;
  }
  .con-text-wrap p {
    font-size: 12px;
  }
}
@media all and (max-width: 420px) {
  .contact {
    width: 100%;
    max-width: 420px;
  }
  .contact-main-wrap {
    flex-direction: column;
  }
  .contact-form-item {
    width: 330px;
  }
  .contact-form-item:first-child {
    margin-top: 12px;
  }
  .open-text-wrap {
    top: 13%;
  }
  .open-text-wrap h2 {
    font-size: 40px;
  }
  .open-text-wrap p {
    font-size: 16px;
  }
  .con-text-wrap h2 {
    font-size: 18px;
  }
  .con-text-wrap p {
    font-size: 12px;
  }
  input::-webkit-input-placeholder {
    font-size: 13px;
  }
  #mand1[type="checkbox"] +.mand2 {
    position: relative;
    margin: 20px;
  }
  .s-con-btn-wrap {
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-form-agree {
    margin-top: 20px;
  }
}
@media all and (max-width: 360px) {
  .contact {
    width: 100%;
    max-width: 360px;
  }
  .contact-main-wrap {
    flex-direction: column;
  }
  .contact-form-item {
    width: 300px;
  }
  .contact-form-item:first-child {
    margin-top: 12px;
  }
  .con-text-wrap h2 {
    font-size: 18px;
  }
  .con-text-wrap p {
    font-size: 12px;
  }
  .contact-form-item-title {
    font-size: 14px;
  }
  input::-webkit-input-placeholder {
    font-size: 13px;
  }
  .mand2 a {
    font-size: 14px;
  }
  .mand2 {
    font-size: 12px;
  }
  .s-con-btn-wrap {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media all and (max-width: 320px) {
  .s-con-btn-wrap {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
