/* 서브 문의 */
.question{
    width: 80vw;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
}
.question h2{
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.faq ul li{
    border-bottom: 1px solid #baa693;
}
.faq ul li:first-child{
    border-top: 2px solid #baa693;
}
.faq button{
    width: 100%;
    text-align: left;
    padding: 15px;
    background: none;
    border: none;
    /* border-bottom: 1px solid #333; */
    cursor: pointer;
    font-size: 16px;
    transition: all 1s;
}
.cont{
    margin: 0 15px 20px 15px;
    padding: 15px 20px;
    background-color: #efefef;
    border-radius: 0.5vw;
    font-size: 15px;
}
.cont.active{
    height: 0px;
}
.big-font{
    font-size: 20px;
    font-weight: 600;
}
.faq  li > div{
    display: none;
}
.question2{
    width: 80vw;
    margin: 0 auto;
    padding: 20px;
}
.question2 h2{
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.question2 .question2-content .question2-title{
    display: flex;
}
.question2 .question2-content .question2-title li{
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    border-top: 2px solid #baa693;
    border-bottom: 1px solid #baa693;
}
.question2 .question2-content .question2-title li:nth-child(1){
    width: 70%;
}
.question2 .question2-content .question2-title li:nth-child(2){
    width: 15%;
}
.question2 .question2-content .question2-title li:nth-child(3){
    width: 15%;
}
.question2 .question2-content .question2-contents{
    display: flex;
}
.question2 .question2-content .question2-contents li{
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #baa693;
    line-height: 30px;
}
.question2 .question2-content .question2-contents li:nth-child(1){
    width: 70%;
    text-align: left;
    padding-left: 20px;
    display: flex;
}
.question2 .question2-content .question2-contents li:nth-child(2){
    width: 15%;
}
.question2 .question2-content .question2-contents li:nth-child(3){
    width: 15%;
}
.question2 .question-state{
    width: 75px;
    height: 30px;
    border-radius: 3px;
    margin-right: 20px;
    text-align: center;
}
.question2 .question-state-ing{
    background-color: #efefef;
}
.question2 .question-state-done{
    background-color: #baa693;
    display: none;
}
.question2 .notice-write{
    display: inline-block;
    width: 100px;
    height: 50px;
    border: none;
    background-color: #baa693;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    float: right;
    margin: 20px;
    cursor: pointer;
}
.question2 .notice-write:hover{
    background-color: #aa9786;
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 480px) {
}
@media all and (max-width: 360px) {
}
