@charset "utf-8";
.premium-pk {
  width: 100%;
  margin-top: 100px;
}
.premium-pk-wrap {
  width: 60%;
  padding-left: 100px;
}
.pre-pk-img-wrap {
  position: relative;
  background: url("../images/real_back_16.jpg") no-repeat center;
  background-size: cover;
  width: 764px;
  height: 800px;
}
.premium-pk-buy {
  position: relative;
  width: 40%;
  padding-left: 60px;
}
.s-pk-buy-wrap {
  display: flex;
}
.pk-buy-box {
  display: block;
  position: absolute;
  top: 0;
  width: 450px;
  height: 550px;
  border-radius: 20px;
  padding: 30px;
}
.pk-buy-select {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.pk-buy-btn2 {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 48px;
  margin: 0px auto;
  background-color: rgb(255, 255, 255);
  padding-left: 18px;
  cursor: pointer;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
}
.pk-buy-select-box {
  width: 100%;
  height: 48px;
  border-radius: 10px;
}
.pk-buy-select-box div {
  display: inline-flex;
  width: calc(100% - 40px);
  height: 100%;
  align-items: center;
}
.pk-buy-menu {
  padding: 20px;
  border-bottom: 1px solid rgb(221, 221, 221);
}
.pk-buy-menu:last-child {
  border-bottom: none;
}

.pk-menu-bar-box {
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
  border-top: none;
  display: none;
}

.kecTuB {
  width: 100%;
  height: 10px;
  margin: 40px 0px 37px;
  background-color: rgb(244, 245, 249);
}
.jsSaWY {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: calc(100% - 30px);
  height: 27px;
  margin: 0px auto;
}
.jsSaWY > p {
  font-size: 18px;
  font-weight: 700;
  color: #282828;
}
.premium-pk-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0px 20px;
  margin-top: 6px;
}
.premium-pk-text h2 {
  font-size: 23px;
  font-weight: 500;
  color: #282828;
  line-height: 32px;
}
.premium-pk-text h2 span {
  font-size: 25px;
  font-weight: 700;
}
.price_box {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0px 20px;
  margin-top: 20px;
}
.price_box > div {
  width: 100%;
}
.price_box > div > span {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 18px;
  color: rgb(170, 170, 170);
  font-size: 14px;
  margin-bottom: 3px;
}
.price_box > div .price_text {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: 32px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.price_box > div .price_text > p {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.price_box > div .price_text .price_discount {
  margin-left: 6px;
  font-size: 24px;
  font-weight: 700;
  color: rgb(253, 67, 129);
  line-height: 30px;
}
.price_detail_text {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 20px;
  font-size: 14px;
  color: rgb(170, 170, 170);
}
.premium-pk-pri {
  padding: 0px 15px;
  margin-top: 20px;
}
.plusPrice {
  padding: 0px 15px;
  margin-top: 20px;
}
.cpRxWl {
  padding-left: 10px;
  width: 100%;
  height: 48px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  line-height: 22px;
}
.plpk-wrap {
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.plusPriceLi {
  border-top: 1px solid rgb(232, 232, 232);
  padding-top: 15px;
  padding-bottom: 15px;
}
.plpk-sub-wrap {
  padding-left: 10px;
  width: 100%;
  height: 48px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  line-height: 22px;
}
.plpk-sub-wrap > .category {
  font-size: 14px;
  color: rgb(68, 68, 68);
}
.plpk-sub-wrap > .category > .divider {
  display: inline-block;
  margin: 0px 5px;
  border-left: 1px solid rgb(230, 230, 234);
  height: 11px;
}
.plpk-sub-wrap > h5 {
  font-size: 14px;
  font-weight: 700;
}
.pr-pk-special-wrap {
  width: 100%;
  height: 308px;
  margin-top: 20px;
  background-color: rgb(250, 250, 250);
  border-radius: 8px;
  border: 1px solid rgb(238, 240, 244);
  padding: 29px 20px 26px;
}
.pr-pk-special-wrap > h3 {
  font-size: 18px;
  font-weight: 700;
  color: rgb(38, 38, 38);
}
.pr-pk-special-wrap ul {
  width: 100%;
  margin-top: 16px;
}
.pr-pk-special-wrap li {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 18px;
  margin-bottom: 5px;
}
.pr-pk-special-wrap li > h5 {
  font-size: 14px;
  color: rgb(170, 170, 170);
  font-weight: 400;
}
.pr-pk-special-wrap .discount_list > h5 {
  color: #e3545e;
}
.pr-pk-special-wrap .discount_list > p {
  color: #e3545e;
}
.pr-pk-special-wrap .pr-last_list > h5 {
  color: rgb(38, 38, 38);
}
.pr-pk-special-wrap .discount_list {
  margin-bottom: 10px;
}
.pr-pk-special-wrap .pr-last_list > p {
  font-weight: 700;
}
.pk-item-sale {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  height: 64px;
  border-radius: 6px;
  background-color: #fff5f5;
  border: 1px solid #eec1c3;
}
.pk-item-sale > p {
  line-height: 23px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #e3545e;
}
.pk-item-sale > p > span {
  font-size: 17px;
  font-weight: 700;
}
.pk-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 16px;
  color: rgb(72, 102, 228);
  font-size: 13px;
  margin-top: 15px;
}
.pr-pk-benefit-wrap ul > li {
  display: flex;
  /* -webkit-box-pack: start; */
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 16px 0px;
  border-top: 1px dashed rgb(232, 232, 232);
}
.pr-pk-benefit-wrap ul > li .benefit_count_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
}
.pr-pk-benefit-wrap ul > li .benefit_count_box .benefit_count {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 42px;
  height: 26px;
  border-radius: 100px;
  background-color: #887160;
}
.pr-pk-benefit-wrap ul > li .benefit_count_box .benefit_count > span {
  color: white;
  font-size: 11px;
  font-weight: 500;
}
.pr-pk-benefit-wrap ul > li .info_box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.pr-pk-benefit-wrap ul > li .info_box > h5 {
  font-size: 13px;
  font-weight: 400;
  color: rgb(17, 17, 17);
}
.pr-pk-benefit-wrap ul > li .info_box > h5 .divider {
  display: inline-block;
  margin: 0px 5px;
  border-left: 1px solid rgb(230, 230, 234);
  height: 11px;
}
.pr-pk-benefit-wrap ul > li .info_box > p {
  margin-top: 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(17, 17, 17);
}
.pr-pk-benefit-wrap ul > li .info_box > .condition_text {
  font-size: 14px;
  font-weight: 400;
  color: rgb(170, 170, 170);
  margin-top: 2px;
}
.pr-pk-info-ul {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 37px;
  padding-left: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 1px solid rgb(232, 232, 232);
  /* overflow: scroll hidden; */
  padding-right: 15px;
}
.pr-pk-info-ul .tab_button {
  position: relative;
  display: inline-block;
  height: 35px;
  font-size: 15px;
  white-space: nowrap;
  margin-right: 20px;
  font-weight: 700;
  color: rgb(170, 170, 170);
  cursor: pointer;
  z-index: 1;
}
.pr-pk-info-ul .tab_button.current::after {
  position: absolute;
  left: 0px;
  bottom: -1.5px;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: rgb(0, 0, 0);
  content: "";
  z-index: -1;
}
.pr-pk-info-ul .tab_button.current {
  color: rgb(51, 51, 51);
}
.pr-pk-info-ul > li:last-child {
  margin-right: 0px;
}
.pr-pk-info-item {
  padding: 0px 15px;
}
.pr-pk-info-item > li {
  display: flex;
  align-items: flex-start;
  /* -webkit-box-pack: start; */
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 20px;
}
.pr-pk-info-item > li:nth-child(1) {
  margin-top: 0px;
}
.pr-pk-info-item > li > h5 {
  min-width: max-content;
  font-size: 14px;
  font-weight: 700;
  color: rgb(17, 17, 17);
}
.pr-pk-info-item > li > p {
  margin-left: 2px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  line-height: 23px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(38, 38, 38);
}
.pr-pk-info-item > li > p .dot {
  margin-top: 10px;
  margin-right: 5px;
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: rgb(38, 38, 38);
}
.pr-pk-info-item > li > p.desc {
  margin-top: 6px;
  margin-left: 10px;
  color: rgb(118, 118, 118);
}
.pr-pk-cancle-rule > h5 {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(17, 17, 17);
  margin-bottom: 9px;
}
.pr-pk-cancle-rule > li > p {
  display: inline-block;
  font-size: 14px;
  color: rgb(118, 118, 118);
  line-height: 23px;
}
@media all and (max-width: 1024px) {
  .pre-pk-img-wrap {
    width: 514px;
    height: 600px;
  }
}
@media all and (max-width: 768px) {
  .pre-pk-img-wrap {
    width: 400px;
    height: 700px;
  }
}