@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
/* 서브 패키지 */
.package-visual .inner {
  max-width: 1920px;
  background: url("../images/backbackback.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.package_box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: url("../images/vs_16.jpg") no-repeat;
  background-position: 50% 25%;
  background-size: cover;
  width: 100%;
  height: 50vh;
  margin-top: 140px;
}
.package_box::before {
  z-index: 1;
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
}
.package_box_text {
  z-index: 2;
  width: 100%;
  color: #e2e2e2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  top: 40%;
  position: absolute;
  text-align: center;
  user-select: none;
}
.package_box_text h3 {
  font-size: 58px;
  font-family: "Noto Serif KR", serif;
  font-weight: 500;
}
.package_box_text p {
  margin-top: 20px;
  font-size: 17px;
  line-height: 26px;
  font-family: "Noto Serif KR", serif;
  font-weight: 300;
}
.package_sub_title {
  max-width: 1440px;
  position: relative;
  padding-top: 100px;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  font-size: 48px;
  line-height: 50px;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
  color: #282828;
  user-select: none;
}
.package_sub_title_none {
  display: none;
}
.package_ssomnail {
  max-width: 1440px;
  padding-top: 70px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.package_ssomnail_first {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}
.package_ssomnail_second {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  margin-top: -15%;
}
#pack_ssome {
  width: 700px;
  height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.package_ssom_01_text {
  position: relative;
  width: 470px;
  height: 390px;
  font-weight: 500;
  display: block;
  padding-top: 30px;
  font-size: 16px;
  line-height: 22px;
  color: #282828;
  font-family: "Noto Sans KR";
}
.package_ssom_01_text p b {
  color: #e3545e;
  font-weight: 700;
  padding-right: 10px;
  font-size: 20px;
}
.package_ssom_01_text img {
  position: relative;
  margin-left: -15px;
  margin-top: -25px;
  margin-bottom: -35px;
}
.package_ssom_01_text p:first-child {
  font-size: 15px;
  padding-bottom: 10px;
  color: #5a5a5a;
}
.package_ssom_01_text h4 {
  color: #282828;
  font-size: 18px;
  font-weight: 600;
}
.package_ssom_01_text button {
  width: 130px;
  height: 40px;
  background: none;
  border: 2px solid #887160;
  color: #887160;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}
.package_ssom_01_text button:hover {
  background: #887160;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.zzick_button {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.ps_second_button {
  margin-left: 5px;
}
.package_ssom_01_img {
  background: url("../images/pk_ssome_01.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 470px;
  height: 390px;
  position: relative;
  display: block;
  transition: all 0.5s;
}
.package_ssom_01_img:hover {
  background: url("../images/pk_ssome_02.png") no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}
.package_ssom_02_img {
  background: url("../images/pk_ssome_06.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 470px;
  height: 390px;
  position: relative;
  display: block;
  transition: all 0.5s;
}
.package_ssom_02_img:hover {
  background: url("../images/pk_ssome_03.png") no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}
.package_ssom_03_img {
  background: url("../images/pk_ssome_07.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 470px;
  height: 390px;
  position: relative;
  display: block;
  transition: all 0.5s;
}
.package_ssom_03_img:hover {
  background: url("../images/pk_ssome_04.png") no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}
.package_ssom_04_img {
  background: url("../images/pk_ssome_05.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 470px;
  height: 390px;
  position: relative;
  display: block;
  transition: all 0.5s;
}
.package_ssom_04_img:hover {
  background: url("../images/pk_ssome_08.png") no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
}
/* -------------반응형--------------- */
@media all and (max-width: 1024px) {
  .package_sub_title {
    font-size: 42px;
    left: 10%;
  }
  .package_ssomnail {
    margin-top: 4%;
  }
  .package_ssomnail_first {
    flex-direction: column;
  }
  .package_ssomnail_second {
    flex-direction: column;
    margin-top: -90px;
  }
  .package_ssom_02_img {
    margin-top: -10%;
  }
  .package_ssom_03_img {
    margin-top: -20%;
  }
  .package_ssom_04_img {
    margin-top: -30%;
  }
}
@media all and (max-width: 480px) {
  #pack_ssome {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .package_sub_title {
    display: none;
  }
  .package_sub_title_none {
    padding-top: 20%;
    padding-bottom: 5%;
    display: block;
    font-size: 42px;
    line-height: 26px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    font-family: "Noto Sans KR", sans-serif;
    color: #887160;
    left: 0;
  }
  .package_ssomnail {
    margin-top: -40px;
  }
  .package_ssom_01_img {
    width: 310px;
  }
  .package_ssom_02_img {
    width: 310px;
  }
  .package_ssom_03_img {
    width: 310px;
  }
  .package_ssom_04_img {
    width: 310px;
  }
  .package_ssom_02 {
    margin-top: -80px;
  }
  .package_ssom_01_text {
    width: 310px;
  }
}
