/* 서브 스드메 */
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
.jejumyeongjo * {
  font-family: "Jeju Myeongjo", serif;
}
/* main */
.s_sdm {
  display: flex;
  justify-content: center;
  z-index: 999;
}
.s_sdm .inner {
  max-width: 1920px;
}
.s_sdm_wrap {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 950px;
  background: url("../images/sub_back.png") no-repeat;
  background-position: center;
}
.sdmmain_01 {
  /* width: 100%; */
  position: absolute;
  left: 10%;
  top: 15%;
  display: block;
  overflow: hidden;
  animation: box-ani 3s linear infinite forwards; /* 애니메이션 적용 */
}
@keyframes box-ani {
  0% {
    transform: translate(15px, 0px) rotate(-0.2deg);
  }

  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(15px, 0px) rotate(-0.2deg);
  }
}
.sdmmain_02 {
  /* width: 100%; */
  position: absolute;
  top: 19%;
  left: 40%;
  overflow: hidden;
  animation: box-ani2 1s linear infinite forwards; /* 애니메이션 적용 */
}
@keyframes box-ani2 {
  0% {
    transform: translate(0px, 4px) rotate(0deg);
  }

  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(0px, 4px) rotate(0deg);
  }
}
.sdmmain_03 {
  /* width: 100%; */
  position: absolute;
  left: 63%;
  top: 15%;
  display: block;
  animation: box-ani3 4s linear infinite forwards; /* 애니메이션 적용 */
}
@keyframes box-ani3 {
  0% {
    transform: translate(20px, 1px) rotate(0.2deg);
  }

  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(20px, 1px) rotate(0.2deg);
  }
}
.sdmmain_04 {
  /* width: 100%; */
  position: absolute;
  left: 10%;
  top: 75%;
  display: block;
  overflow: hidden;
  animation: box-ani4 2s linear infinite forwards; /* 애니메이션 적용 */
}
@keyframes box-ani4 {
  0% {
    transform: translate(0px, 2px) rotate(-0.2deg);
  }

  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(0px, 2px) rotate(-0.2deg);
  }
}
.sdmmain_05 {
  /* width: 100%; */
  position: absolute;
  top: 48%;
  left: 40%;
  overflow: hidden;
  animation: box-ani5 3s linear infinite forwards; /* 애니메이션 적용 */
}
@keyframes box-ani5 {
  0% {
    transform: translate(10px, 0px) rotate(0deg);
  }

  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(10px, 0px) rotate(0deg);
  }
}
.sdmmain_06 {
  /* width: 100%; */
  position: absolute;
  left: 70%;
  bottom: 10%;
  display: block;
  animation: box-ani6 2s linear infinite forwards; /* 애니메이션 적용 */
}
.sdmmain_07 {
  /* width: 100%; */
  position: absolute;
  left: 78%;
  bottom: 10%;
  display: block;
  animation: box-ani7 2.5s linear infinite forwards; /* 애니메이션 적용 */
}
@keyframes box-ani6 {
  0% {
    transform: translate(4px, 0px) rotate(0deg);
  }

  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(4px, 0px) rotate(0deg);
  }
}
@keyframes box-ani7 {
  0% {
    transform: translate(0px, 6px) rotate(0deg);
  }

  50% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(0px, 6px) rotate(0deg);
  }
}
/* studio */
.sdm_studio {
  position: relative;
  top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sdm_studio_title {
  user-select: none;
  font-size: 78px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sdm_studio_title h3 {
  user-select: none;
  font-weight: 500;
  font-family: "Noto Serif KR", serif;
  color: #887160;
  padding-bottom: 20px;
}
.sdm_studio button {
  width: 160px;
  height: 40px;
  padding: 5px;
  border-radius: 50px;
  border: 2px solid #887160;
  background: none;
  margin-top: 2%;
}
.sdm_studio button:hover {
  background-color: #887160;
  cursor: pointer;
}
.sdm_studio button:hover a {
  color: #fff;
}
.sdm_studio button a {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  user-select: none;
  color: #887160;
}
#studio_nemo {
  position: relative;
  width: 490px;
  height: 300px;
  /* background-color: beige; */
  padding: 30px;
  margin: 0px;
}
.sdm_studio_wrap {
  margin-top: 2%;
  width: 100%;
  height: 705px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: aquamarine; */
}
.sdm_studio_wrap h3 {
  user-select: none;
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
  font-family: "Noto Serif KR", serif;
}
.sdm_studio_wrap p {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: "Noto Sans KR", sans-serif;
}
.sdm_studio_wrap button {
  padding: 5px;
  margin-top: 12px;
  background: #887160;
  border: none;
  color: #fff;
  width: 100px;
  height: 35px;
}
.sdm_studio_wrap button:hover {
  background: none;
  color: #887160;
  border: 2px solid #887160;
  cursor: pointer;
}
.sdm_studio_wrap button:hover p {
  font-weight: 600;
}
.sdm_studio_wrap button p {
  font-size: 11px;
  font-weight: 400;
  user-select: none;
}
.studio_firstbox {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.sdm_studio01 {
  background: url("../images/studio01.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.sdm_studio02 {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cecece;
}
.studio_secondbox {
  display: flex;
  flex-direction: row;
}
.sdm_studio03 {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #cecece;
}
.sdm_studio04 {
  background: url("../images/studio_some05.jpg") no-repeat;
  opacity: rgba(0, 0, 0, 0.2);
  background-position: center center;
  background-size: cover;
}
/* eight */
.sdm_studio_eight {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  /* background-color: aqua; */
}
#ss_eight {
  width: 250px;
  height: 250px;
}
.eight_first {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.eight_two {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.eight_1 {
  position: relative;
  background: url("../images/eight_01.png") no-repeat;
  background-position: top center;
  background-size: cover;
}
.eight_2 {
  position: relative;
  background: url("../images/eight_02.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}
.eight_3 {
  position: relative;
  background: url("../images/eight_03.png") no-repeat;
  background-position: top center;
  background-size: cover;
}
.eight_4 {
  position: relative;
  background: url("../images/eight_04.png") no-repeat;
  background-position: top center;
  background-size: cover;
}

.eight_5 {
  position: relative;
  background: url("../images/eight_05.png") no-repeat;
  background-position: top center;
  background-size: cover;
}
.eight_6 {
  position: relative;
  background: url("../images/eight_07.png") no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.eight_7 {
  position: relative;
  background: url("../images/eight_08.png") no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.eight_8 {
  position: relative;
  background: url("../images/eight_08.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}
/* 견적 */
.sdm_reservation {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  width: 100%;
  height: 250px;
  background-color: #ece8e4;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}
.sdm_reservation h3 {
  font-size: 27px;
  font-weight: 600;
  padding-bottom: 18px;
  font-family: "Noto Sans KR", sans-serif;
  user-select: none;
}
.sdm_reservation p {
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 16px;
}
.sdm_reservation b {
  font-weight: 700;
}
.sdm_reservation button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 15px;
  background: #887160;
  border: none;
  color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 50px;
}
.sdm_reservation button a {
  color: #fff;
}
.sdm_reservation button:hover a {
  color: #887160;
}
.sdm_reservation button p {
  font-weight: 600;
  font-size: 14px;
  user-select: none;
  letter-spacing: -0.5px;
}
.sdm_reservation button:hover {
  background: none;
  color: #887160;
  font-weight: 600;
  border: 2px solid #887160;
  cursor: pointer;
}
.sdm_reservation button:hover {
  font-weight: 600;
}
/* dress */
.dress_wrap {
  /* background-color: aqua; */
  width: 100%;
  height: 800px;
  position: relative;
  display: block;
  top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  max-width: 1000px;
  margin: 0 auto;
}
.dress_title {
  width: 100%;
  height: 150px;
  user-select: none;
}
.dress_title h3 {
  font-size: 78px;
  font-weight: 500;
  text-align: center;
  font-family: "Noto Serif KR", serif;
  color: #887160;
}
.dress_more_button {
  position: relative;
  right: 0;
  top: 45%;
  padding: 5px;
  margin: auto;
}
.dress_more_button a {
  font-weight: 500;
  font-size: 14px;
  user-select: none;
  color: #887160;
  font-family: "Noto Sans KR", sans-serif;
}
.dress_more_button button {
  width: 160px;
  height: 40px;
  padding: 5px;
  border-radius: 50px;
  border: 2px solid #887160;
  background: none;
}
.dress_more_button button:hover {
  background-color: #887160;
  cursor: pointer;
}
.dress_more_button button:hover a {
  color: #fff;
}
.dress_logo {
  width: 100%;
  height: 400px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 100px;
}
.dl_01 {
  width: 300px;
  height: 400px;
  position: relative;
}
.dl01_img {
  background: url("../images/dress_logo.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.dl02_img {
  background: url("../images/dress_logo1.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.dl03_img {
  background: url("../images/dress_logo2.png") no-repeat;
  background-position: center;
  background-size: cover;
}
#dl01_first {
  width: 100%;
  height: 65%;
  /* background-color: #cecece; */
}
.dlo01_box {
  width: 100%;
  height: 35%;
  /* background-color: beige; */
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin-top: -10%;
  line-height: 16px;
  font-family: "Noto Sans KR", sans-serif;
}
.dlo01_box h3 {
  user-select: none;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 15px;
}
.dress_img {
  position: relative;
  width: 100%;
  height: 500px;
  top: 48%;
}
#dress_img_first {
  width: 230px;
  height: 200px;
  float: left;
  margin: 10px;
}
#dress_img_second {
  width: 230px;
  height: 274px;
  float: left;
  margin: 10px;
}
.dress_fb {
  display: flex;
  justify-content: center;
  align-items: flex;
}
.dress_sb {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -8%;
}
.dressimg_hover {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.dress_underline {
  width: 130px;
  height: 1px;
  background-color: #e4b899;
  position: absolute;
  display: block;
  margin-top: 35px;
}
.dressimg_black {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.dress_img_01 {
  background: url("../images/dress_01.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}
.dress_img_01:hover {
  transition: all 0.3s;
}
#dress_img_first:hover .dressimg_black {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s;
}
#dress_img_second:hover .dressimg_black {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s;
}
.dress_img_02 {
  background: url("../images/dress_02.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}
.dress_img_03 {
  background: url("../images/dress_03.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}
.dress_img_04 {
  background: url("../images/dress_04.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}
.dress_img_05 {
  background: url("../images/dress_05.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}
.dress_img_06 {
  background: url("../images/dress_06.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}
.dress_img_07 {
  background: url("../images/dress_07.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
}
.dress_img_08 {
  background: url("../images/dress_08.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
/* makeup */
.makeup_wrap_wrap {
  margin: auto;
  width: 100%;
  /* height: 910px; */
  position: relative;
  max-width: 1920px;
  background: url("../images/makeupback_gra.png") no-repeat;
  background-position: center;
  background-size: cover;
  top: 10%;
  display: flex;
  align-items: center;
}
.makeup_wrap {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  /* height: 800px; */
}
.makeup_wrap_title {
  width: 100%;
  user-select: none;
  position: relative;
  padding-bottom: 8%;
}
.makeup_wrap_title h3 {
  font-size: 78px;
  font-weight: 500;
  text-align: center;
  font-family: "Noto Serif KR", serif;
  color: #887160;
}
.makeup_wrap_box {
  width: 100%;
  /* height: 500px; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 15%;
}
.makeup_box01 {
  /* background-color: #cecece; */
  width: 450px;
  height: 500px;
  margin: 30px;
  text-align: center;
  position: relative;
}
.makeup_box01_img {
  width: 100%;
  height: 60%;
  background: url("../images/makeup_01.png") no-repeat;
  background-position: top center;
  background-size: cover;
}
.makeup_box02_img {
  width: 100%;
  height: 60%;
  background: url("../images/makeup_02.png") no-repeat;
  background-position: top center;
  background-size: cover;
}
.makeup_box01_text {
  user-select: none;
  padding-top: 5%;
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Noto Sans KR", sans-serif;
}
.makeup_box01_text h4 {
  float: left;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.5px;
  cursor: pointer;
}
.mbt_gold {
  width: 33%;
  border: 2px solid transparent;
  /* color: #887160; */
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mbt_gold:active {
  background-color: #887160;
  color: #fff;
}
.mbt_gold:active h4 {
  color: #fff;
}
.mbt_gold:hover {
  border: 2px solid #887160;
  color: #887160;
}
.makeup_box01_text2 {
  padding-top: 18px;
  width: 90%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
}
.makeupbox_button {
  position: relative;
  top: 8%;
  padding-bottom: 10%;
}
.makeupbox_button button {
  width: 160px;
  padding: 8px;
  border: 2px solid #887160;
  background: none;
  border-radius: 50px;
  user-select: none;
}
.makeupbox_button button a {
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
  color: #887160;
  user-select: none;
  font-weight: 500;
}
.makeupbox_button button:hover {
  background-color: #887160;
  cursor: pointer;
}
.makeupbox_button button:hover .mb_button {
  color: #fff;
}
.makeupimg_hover {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 30px;
  font-weight: 600;
}
.makeupimg_black {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.makeup_box01_img:hover .makeupimg_black {
  display: block;
  cursor: pointer;
}
.makeup_box02_img:hover .makeupimg_black {
  display: block;
  cursor: pointer;
}
/* --------모달------------ */
.sdm_studio02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.studio_container {
  position: relative;
  top: 5%;
}
.studio_container > .stu_btn {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stu_modal_imgbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../images/wonkyu_st_back.png") no-repeat;
  background-position: top center;
  background-size: cover;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
.stu_modal_imgbox2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../images/somsom.png") no-repeat;
  background-position: bottom center;
  background-size: cover;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}
.stu_modal {
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  top: 100%;
  position: fixed;
  left: 0;
  text-align: left;
}
.stu_header {
  text-align: center;
  line-height: 65px;
  width: 100%;
  padding: 30px;
  /* border-bottom: 1px solid #868686; */
  font-size: 45px;
  font-weight: 700;
  position: relative;
  font-family: "Noto Serif KR", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  /* top: 0; */
}
.stu_header b {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.stu_body {
  width: 100%;
  height: 70%;
  padding: 50px;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.5px;
}
.stu_body p {
  text-align: center;
}
.stu_body_first {
  position: relative;
  text-align: center;
  font-weight: 600;
  line-height: 24px;
  font-size: 17px;
  margin-top: -10%;
  padding-bottom: 10%;
  font-family: "Noto Sans KR", sans-serif;
}
.stu_block b {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
}
.stu_body_first_f {
  position: relative;
  text-align: center;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
  margin-top: -10%;
  width: 90%;
  padding-bottom: 10%;
}
.s_b_f_f {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}
#stu_h_2 {
  font-size: 58px;
}
#stu_line p:nth-child(2) {
  font-size: 28px;
  line-height: 32px;
}
.stu_body p:nth-child(2) {
  font-size: 20px;
  font-weight: 600;
  line-height: 19px;
  width: 70%;
  margin-top: -40px;
}
.stu_body p:nth-child(3) {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  width: 60%;
}
.stu_body p:nth-child(4) {
  font-size: 20px;
  font-weight: 600;
  margin-top: 5%;
  line-height: 19px;
}
.stu_body p:nth-child(5) {
  margin-top: 10px;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
}
/* .stub_body_foot {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10%;
} */
.stu_btn {
  font-size: 12px;
  text-align: center;
  width: 100px;
  height: 40px;
  background: none;
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #887160;
  border-radius: 25px;
  color: #887160;
  position: relative;
  cursor: pointer;
  padding: 5px;
  font-weight: 600;
  top: 5%;
}
.stu_btn:hover {
  background: #887160;
  color: #fff;
}
.studio_container.modal-open .stu_modal {
  z-index: 9999999999999999;
  top: 10%;
}
.stu_btn_padding {
  font-weight: 600;
  border: 2px solid #333;
  color: #333;
}
.stu_btn_padding:hover {
  border: 2px solid #333;
  background: #333;
  color: #fff;
}
/* ---- */
.studio_container01 {
  position: relative;
  top: 5%;
}
.studio_container01 > .stu_btn01 {
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.studio_container01.modal-open .stu_modal {
  z-index: 99999999999999999999;
  top: 10%;
}
#stu_header_wonkyu {
  display: none;
  font-family: "Jeju Myeongjo", serif;
  border: none;
  line-height: 38px;
  font-weight: 700;
}
#stu_header_wonkyu01 {
  font-family: "Jeju Myeongjo", serif;
  font-weight: 700;
}
#sdm_footer {
  padding-top: 27%;
}
/* ------------------------------- */
/* ----------반응형----------- */
@media all and (max-width: 1484px) {
  .sdmmain_02 {
    display: none;
  }
  .sdmmain_05 {
    display: none;
  }
  .sdmmain_06 {
    left: 63%;
  }
  .stu_body p:nth-child(2) {
    margin-top: -14px;
  }
}
@media all and (max-width: 1214px) {
}
@media all and (max-width: 1024px) {
  .sdmmain_01 {
    left: 5%;
  }
  .sdmmain_02 {
    display: none;
  }
  .sdmmain_03 {
    left: 45%;
  }
  .sdmmain_05 {
    display: none;
  }
  .sdmmain_06 {
    left: 50%;
  }
  .sdmmain_07 {
    left: 70%;
  }
  .makeup_box01 h4 {
    font-size: 16px;
  }
  .stu_modal_imgbox {
    width: 70%;
  }
  .stu_modal_imgbox2 {
    width: 70%;
  }
}

@media all and (max-width: 888px) {
  .makeup_box01 h4 {
    font-size: 14px;
  }
}
@media all and (max-width: 809px) {
  .makeup_box01_text {
    width: 90%;
  }
}
@media all and (max-width: 778px) {
  .stu_body_first {
    font-size: 14px;
    font-weight: 600;
  }
}
@media all and (max-width: 768px) {
  .sdmmain_03 {
    display: none;
  }
  .sdmmain_04 {
    left: 5%;
  }
  .sdmmain_06 {
    display: none;
  }
  .sdmmain_07 {
    left: 65%;
  }
  .s_b_f_f {
    margin-top: -30%;
  }
  .stu_body_first {
    margin-top: -30%;
  }
  #studio_nemo {
    position: relative;
    width: 240px;
    height: 300px;
    /* background-color: beige; */
    padding: 10px;
    margin: 5px;
  }
  .sdm_studio_wrap h3 {
    font-size: 22px;
    font-weight: 700;
  }
  .sdm_studio_wrap p {
    font-size: 12px;
    font-weight: 600;
  }
  .sdm_studio_wrap button {
    background: none;
    color: #887160;
    border: 2px solid #887160;
  }
  .sdm_studio_wrap button:hover {
    background-color: #887160;
    color: #fff;
  }
  .sdm_studio_wrap button:hover p {
    font-weight: 400;
  }
  .sdm_studio_wrap button p {
    font-size: 11px;
    font-weight: 600;
  }
  .sdm_studio button {
    margin-top: 10%;
  }
  .dress_img {
    margin-top: -10%;
  }
  .dress_img_01 {
    display: none;
  }
  .dress_img_02 {
    display: none;
  }
  .dress_img_05 {
    display: none;
  }
  .dress_img_06 {
    display: none;
  }
  .dress_more_button {
    top: 50%;
    z-index: 999;
  }
  .dl_01:first-child {
    display: none;
  }
  .dlo01_box {
    margin-top: -20%;
  }
  .dlo01_box h3 {
    font-size: 18px;
  }
  .dress_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .makeupbox_button {
    /* margin-top: 90%; */
    position: relative;
  }
  .makeup_box01 h4 {
    font-size: 14px;
    font-weight: 700;
  }
  .makeup_box01 p {
    font-weight: 600;
  }
  .makeup_box01_text {
    width: 88%;
  }
  .makeup_box01_img {
    height: 300px;
  }
  .makeup_box02_img {
    height: 300px;
  }
  .makeup_wrap_box {
    /* margin-top: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stu_body p:nth-child(2) {
    display: none;
  }
  .stu_body p:nth-child(3) {
    display: none;
  }
  .stu_modal_imgbox {
    width: 90%;
  }
  .stu_modal_imgbox2 {
    width: 90%;
  }
}
@media all and (max-width: 739px) {
  .stu_body_first {
    margin-top: -40%;
    line-height: 19px;
  }
}
@media all and (max-width: 714px) {
  .stu_body p:nth-child(4) {
    font-size: 20px;
  }
  .stu_body p:nth-child(5) {
    font-size: 14px;
  }
}
@media all and (max-width: 650px) {
  .sdmmain_07 {
    left: 56%;
  }
}
@media all and (max-width: 524px) {
  #stu_header_wonkyu {
    display: block;
  }
  #stu_header_wonkyu01 {
    display: none;
  }
}
@media all and (max-width: 480px) {
  #sdm_footer {
    padding-top: 20%;
  }
  .s_sdm .inner {
    max-width: 480px;
    height: 100%;
  }
  .sdmmain_01 {
    left: 0;
    width: 350px;
  }
  .sdmmain_01 img {
    width: 100%;
  }
  .sdmmain_04 {
    left: 0;
    width: 240px;
  }
  .sdmmain_07 {
    right: 0;
    width: 150px;
    overflow: hidden;
  }
  .sdmmain_07 img {
    width: 100%;
  }
  .sdm_studio_wrap h3 {
    font-size: 20px;
  }
  .sdm_studio_wrap p {
    font-size: 10px;
  }
  .studio_firstbox {
    width: 320px;
  }
  .studio_secondbox {
    width: 320px;
  }
  .sdm_studio_eight {
    left: 15%;
  }
  .sdm_studio_wrap button {
    width: 80px;
    height: 38px;
  }
  .sdm_studio_wrap button p {
    font-size: 11px;
  }
  .sdmres_bu {
    width: 98%;
    line-height: 22px;
  }
  .eight_first {
    overflow: hidden;
  }
  .eight_two {
    overflow: hidden;
  }
  .eight_3 {
    display: none;
  }
  .eight_4 {
    display: none;
  }

  .eight_7 {
    display: none;
  }
  .eight_8 {
    display: none;
  }
  .sdm_studio_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #ss_eight {
    width: 310px;
    height: 310px;
  }
  #lafore {
    display: none;
  }
  .dlo01_box {
    margin-top: -12%;
  }
  .makeup_box01 {
    width: 320px;
  }
  .dress_wrap {
    margin-top: 35%;
  }
  .dress_logo {
    margin-top: -15%;
  }
  .makeup_wrap_title {
    width: 90%;
    padding-top: 5%;
  }
  .makeup_wrap_title h3 {
    font-size: 62px;
  }
  .makeup_wrap_wrap {
    width: 100%;
    margin-top: 120%;
  }
  .s_sdm .inner {
    max-width: 480px;
  }
  .s_b_f_f {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin-top: -65%;
  }
  .stu_body_first {
    margin-top: -100px;
  }
  .stu_body_first_f {
    font-size: 14px;
    line-height: 18px;
  }
  .stu_modal_imgbox {
    height: 100%;
  }
  #stu_h_2 {
    font-size: 38px;
  }
  .stu_body p:nth-child(4) {
    font-size: 18px;
  }
  .stu_body p:nth-child(5) {
    font-size: 12px;
  }
  .sdm_studio_title h3 {
    font-size: 54px;
  }
  .dress_title h3 {
    font-size: 54px;
  }
  .makeup_wrap_title h3 {
    font-size: 54px;
  }
}
@media all and (max-width: 360px) {
  #stu_h_2 {
    font-size: 36px;
  }
}
