/* 서브 웨딩 홀 */
.s_weddinghall {
  position: relative;
  display: block;
  width: 100%;
  height: 5000px;
}
.hall-list {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 60px;
  margin: -30px auto;
}
.hall-list2 {
  position: relative;
  display: none;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 60px;
  margin: 0 auto;
}
.hall-list button.active {
  background-color: #b99664;
  color: #fff;
  font-weight: bold;
}

.s_weddinghall .text-area {
  margin-top: 160px;
}
.text-area {
  position: relative;
  display: block;
}
.text-area img {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}
.text-area-sub {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 999;
  color: #ededed;
  font-size: 20px;
  line-height: 70px;
}

/* 메인 버튼1 */
.hall-btn,
.hall-btn-1,
.hall-btn-2,
.hall-btn-3,
.hall-btn-4,
.hall-btn-5 {
  display: block;
  width: 240px;
  height: 60px;
  line-height: 60px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: 500;
}
/* 메인 버튼 2 */
.hall2-btn,
.hall2-btn-1,
.hall2-btn-2,
.hall2-btn-3,
.hall2-btn-4,
.hall2-btn-5 {
  display: block;
  width: 240px;
  height: 60px;
  line-height: 60px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: 500;
}
.w-search-area {
  width: 100%;
  height: 300px;
  margin: 60px 0 0 0;
  background-color: #e4bf8b;
}
.w-search-text {
  padding: 20px;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}
.select-box {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}
.select-box form {
  width: 400px;
  text-align: end;
}
#selcity {
  width: 257px;
  height: 45px;
  padding-left: 5px;
  border: none;
}
#city {
  width: 257px;
  height: 45px;
  padding-left: 5px;
  border: none;
}
#guarantors {
  width: 257px;
  height: 45px;
  padding-left: 5px;
  border: none;
}
#meals {
  width: 257px;
  height: 45px;
  padding-left: 5px;
  border: none;
}
#searchText {
  width: 758px;
  height: 45px;
  padding-left: 5px;
  border: none;
}
#mealmenu {
  width: 257px;
  height: 45px;
  padding-left: 5px;
  border: none;
}
#ceremony {
  width: 257px;
  height: 45px;
  padding-left: 10px;
  border: none;
}
.search-container {
  padding-left: 66px;
}
.w-search-area label {
  margin-right: 10px;
}
.w-serach-btn {
  width: 257px;
}
.information-area {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#results {
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 100%;
  background-color: #e4bf8b;
}
.mix {
  width: 450px;
  height: 450px;
  padding: 20px;
  margin: 0 auto;
}
.mix img {
  width: 420px;
  height: 300px;
  object-fit: cover;
}
.w-box-left {
  float: left;
}
.w-box-left p {
  color: #999;
  margin: 10px 0px;
}
.w-box-right {
  float: right;
}
.w-box-right p {
  margin: 10px 0;
  font-size: 16px;
  text-align: left;
}
.mix h3 {
  font-size: 14px;
}
.w-box-right span {
  width: 57px;
  font-size: 12px;
  color: #999;
}
#weddingHallsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 768px) {
}
@media all and (max-width: 710px) {
  .hall-btn,
  .hall-btn-1,
  .hall-btn-2,
  .hall-btn-3,
  .hall-btn-4,
  .hall-btn-5 {
    font-size: 16px;
  }
}
@media all and (max-width: 671px) {
  .text-area-sub {
    font-size: 17px;
  }
}
@media all and (max-width: 628px) {
  .hall-list {
    display: none;
  }
  .hall-list2 {
    display: flex;
  }
  .hall-list2 button.active {
    background-color: #b99664;
    color: #fff;
    font-weight: bold;
  }
}
@media all and (max-width: 573px) {
  .text-area-sub {
    font-size: 14px;
  }
}
@media all and (max-width: 555px) {
  .hall-btn,
  .hall-btn-1,
  .hall-btn-2,
  .hall-btn-3,
  .hall-btn-4,
  .hall-btn-5 {
    font-size: 12px;
  }
}
@media all and (max-width: 480px) {
  .text-area-sub {
    font-size: 12px;
  }
}
@media all and (max-width: 360px) {
  .hall2-btn,
  .hall2-btn-1,
  .hall2-btn-2,
  .hall2-btn-3,
  .hall2-btn-4,
  .hall2-btn-5 {
    font-size: 14px;
  }
}
