/* 서브 웨딩 홀 */
.s_weddinghall {
  position: relative;
  display: block;
  width: 100%;
}
.s_weddinghall .inner {
  padding: 0 10px;
}
.hall-list {
  position: relative;
  display: flex;
  justify-content: left;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 60px 0px 30px auto;
  padding-left: 10px;
  cursor: pointer;
}
.hall-list2 {
  position: relative;
  display: none;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 60px;
  margin: 0 0 5px auto;
  cursor: pointer;
}
.hall-list button.active {
  background-color: #baa693;
  color: #fff;
  font-weight: bold;
}

.s_weddinghall .text-area {
  margin-top: 100px;
}
.text-area {
  position: relative;
  display: block;
}
.text-area img {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}
.text-area-sub {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 999;
  color: #ededed;
  font-size: 16px;
  font-weight: 500;
  font-family: "notoSans";
  line-height: 30px;
}
.text-area-sub span {
  font-size: 58px;
  font-family: "Noto Serif KR", serif;
  font-weight: 500;
}
.text-area-sub p {
  margin-top: 20px;
  font-size: 17px;
  line-height: 26px;
  font-family: "Noto Sans KR", serif;
  font-weight: 300;
}
/* 메인 버튼1 */
.hall-list button {
  display: block;
  height: 40px;
  padding: 5px 25px;
  background-color: #fff;
  border: 1px solid #baa693;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
/* 메인 버튼 2 */
.hall-list2 button {
  display: block;
  width: 240px;
  height: 60px;
  line-height: 60px;
  margin: 5px;
  background-color: #fff;
  border: 1px solid #baa693;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.w-search-area {
  width: 100%;
  height: 300px;
  margin: 60px auto;
}
.w-search-text {
  padding: 20px;
  font-size: 24px;
  font-weight: 500;
  color: #887160;
}
.select-box-area {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 20px 0;
}
.select-box {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-around;
}
.select-box label {
  width: 100%;
  text-align: left;
}
.select-box form {
  width: 400px;
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.select-box form select {
  background-color: #f7f7f7;
}

.select-box-area select {
  width: 100%;
  height: 45px;
  padding: 5px;
  border: none;
}

#results {
  display: block;
  margin-top: 30px;
  width: 100%;
  height: 100%;
}
.search-container {
  padding-left: 66px;
}
.w-search-area label {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: "notoSans";
  color: #414141;
}
.w-serach-btn {
  width: 257px;
}
.information-area {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.mix {
  width: 100%;
  max-width: 450px;
  height: 530px;
  padding: 10px;
  font-family: "notoSans";
  margin: 10px;
  border: 1px solid #887160;
}
.mix img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}
.mix img:hover {
  transform: scale(1.03);
  transition: all 2s;
}

.w-box-left {
  width: 100%;
  text-align: center;
}

.w-box-left p {
  color: #999;
  font-size: 12px;
  margin: 10px 0px;
}
.w-box-right {
  width: 100%;
  height: 80px;
  margin: 20px 0 10px auto;
}
.w-box-right p {
  display: inline-block;
  width: 50%;
  margin: 10px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #494949;
}
.w-box-right p:nth-child(2n + 1) {
  float: right;
}
.w-box-right p:nth-child(3n + 1) {
  float: left;
}

.mix h3 {
  margin-top: 20px;
  font-size: 24px;
  color: #494949;
  font-weight: 600;
}
.w-box-right span {
  width: 57px;
  margin-right: 5px;
  font-size: 12px;
  color: #999;
}
.inquiry-link {
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px auto;
  border: none;
  border-radius: 20px;
  background-color: #887160;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.inquiry-button:hover {
  background-color: #fff;
  border: 2px solid #887160;
  color: #887160;
}

#weddingHallsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media all and (max-width: 1024px) {
  .mix {
    padding: 10px;
  }
}
@media all and (max-width: 865px) {
  .select-box label {
    font-size: 16px;
  }
}
@media all and (max-width: 788px) {
  .select-box label {
    font-size: 14px;
  }
}
@media all and (max-width: 710px) {
  .hall-btn,
  .hall-btn-1,
  .hall-btn-2,
  .hall-btn-3,
  .hall-btn-4,
  .hall-btn-5 {
    font-size: 16px;
  }
}

@media all and (max-width: 692px) {
  .select-box label {
    width: 95px;
    margin: 0px;
  }
}
@media all and (max-width: 671px) {
  .text-area-sub {
    font-size: 17px;
  }
}
@media all and (max-width: 628px) {
  .hall-list {
    display: none;
  }
  .hall-list2 {
    display: flex;
  }
  .hall-list2 button.active {
    background-color: #b99664;
    color: #fff;
    font-weight: bold;
  }
}
@media all and (max-width: 573px) {
  .text-area-sub {
    font-size: 14px;
  }
}
@media all and (max-width: 555px) {
  .hall-btn,
  .hall-btn-1,
  .hall-btn-2,
  .hall-btn-3,
  .hall-btn-4,
  .hall-btn-5 {
    font-size: 12px;
  }
}
@media all and (max-width: 550px) {
  .s_weddinghall .text-area {
    margin-top: 80px;
  }
}

@media all and (max-width: 480px) {
  .text-area-sub {
    font-size: 12px;
  }
}
@media all and (max-width: 388px) {
  .mix h3 {
    font-size: 18px;
  }
}
@media all and (max-width: 360px) {
  .hall-list2 button {
    font-size: 14px;
  }
}
@media all and (max-width: 320px) {
  .hall-list2 button {
    font-size: 12px;
  }

  .mix img {
    height: 272px;
  }
  .w-box-right {
    margin-bottom: 30px;
  }
}
