@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
.sdm .inner {
  max-width: 1920px;
}
.sdm_back_b {
  position: relative;
  width: 100%;
  height: 3000px;
  background: url("../images/sdm_back_b.png") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sdm_title {
  /* padding-top: 18%; */
  position: absolute;
  text-align: center;
  /* background-color: aqua; */
  width: 100%;
  height: 200px;
  top: 15%;
  user-select: none;
}
.sdm_title h2 {
  font-size: 68px;
  color: #ececec;
}
.sdm_box_b {
  top: 26%;
  position: absolute;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  font-family: "Noto Sans KR", sans-serif;
}
#sdmbox_b_all {
  width: 400px;
  height: 730px;
  background-color: #fff;
  border-radius: 500px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.smd_box_b_circle {
  width: 300px;
  height: 300px;
  /* background-color: aquamarine; */

  border-radius: 50%;
}
#circle01 {
  background: url("../images/sdm_circle01.png") no-repeat;
  background-position: center;
  background-size: cover;
}
#circle02 {
  background: url("../images/sdm_circle02.png") no-repeat;
  background-position: center;
  background-size: cover;
}
#circle03 {
  background: url("../images/sdm_circle03.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.sdm_box_h3 {
  padding-top: 18%;
  font-size: 32px;
  font-weight: 600;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  color: #282828;
}
.sdm_box_p01 {
  padding-top: 5%;
  font-size: 15px;
  width: 80%;
  font-weight: 500;
  line-height: 20px;
  color: #474747;
}
.sdm_box_p02 {
  padding-top: 4%;
  padding-bottom: 12%;
  font-size: 16px;
  font-weight: 600;
  width: 80%;
  line-height: 21px;
  color: #474747;
}
.sdm_secondtext {
  max-width: 1440px;
  position: relative;
  left: 10%;
  top: 6%;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  font-family: "Noto Sans KR", sans-serif;
}
.sdm_sec_first {
  font-size: 38px;
  line-height: 48px;
  font-weight: 500;
  padding-bottom: 2%;
}
.sdm_sec_second {
  width: 170px;
  height: 60px;
  z-index: 9999999999999999999;
}
.sdm_sec_second button {
  background: none;
  font-size: 26px;
  width: 170px;
  height: 60px;
  border: 3px solid #494949;
  padding: 10px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}
.sdm_sec_second button a {
  color: #494949;
  font-weight: 500;
}
.sdm_sec_second button:hover {
  background-color: #494949;
  color: #fff;
  z-index: 999999;
}
.sdm_sec_second button:hover a {
  color: #fff;
}
.smd_b_foot {
  top: 50%;
  right: 0;
  position: absolute;
  max-width: 1440px;
  width: 100%;
  /* margin: 0 auto; */
  /* background-color: aqua; */
}
.smd_b_foot_img {
  background: url("../images/sdm_b_foot.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: 1123px;
  height: 1016px;
}
/* ------------------------- */
/* 반응형 */
@media all and (max-width: 1024px) {
  .sdm_secondtext {
    padding-left: 5%;
  }
  .sdm_box_b {
    padding: 5%;
  }
  #sdmbox_b_all {
    width: 280px;
  }
  .smd_box_b_circle {
    width: 250px;
    height: 250px;
  }
  .smd_b_foot_img {
    width: 953px;
    height: 856px;
  }
  .smd_b_foot {
    padding-left: 12%;
  }
  .sdm_sec_first {
    font-size: 28px;
  }
  .sdm_sec_second button {
    width: 120px;
    height: 50px;
  }
  .sdm_sec_second button a {
    font-size: 18px;
    text-align: center;
    width: 100%;
    height: 100%;
    vertical-align: 5px;
  } 
}
@media all and (max-width: 480px) {
  .smd_b_foot_img {
    width: 350px;
    height: 606px;
  }
  .smd_b_foot {
    position: relative;
    padding-top: 60%;
    left: -9%;
  }
  .sdm_sec_first {
    font-size: 24px;
  }
  .sdm_sec_second {
    padding-top: 3%;
  }
  .sdm_sec_second button {
    width: 130px;
  }
  .sdm_sec_second button a {
    font-size: 20px;
  }
  .sdm_box_b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #sdmbox_b_all {
    position: relative;
    margin: 20px;
    width: 400px;
  }
  .smd_box_b_circle {
    width: 340px;
    height: 340px;
  }
  .sdm_secondtext {
    position: relative;
    padding-top: 780%;
    left: -1%;
    /* flex-direction: column; */
  }
  
}