/* signup2 */
.signupwrap{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signupbox{
  width: 520px;
  height: 700px;
  border: 2px solid #baa693;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
}
.signup-form > div{
  height: 50px;
  width: 456px;
  /* margin: 0 auto; */
  border: 1px solid #dfdfdf;
  display: flex;
  align-items: center;
}
.signup-form > div:first-child{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.verification-code-box{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.signup-form input{
  width: 85%;
  border: none;
  font-size: 16px;
  color: #887160;
  outline: none;
}
.signup-form i{
  width: 55px;
  text-align: center;
}
.signup-form div.focus{
  border: 1px solid #887160;
}
.signup-form div.error{
  border: 1px solid #ff0000;
}
.signup-form div.success{
  border: 1px solid #dfdfdf;
}

.gender-box{
  display: flex;
  justify-content: center;
}
.gender-box .gender-check-box{
  width: 32%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #dfdfdf;
  cursor: pointer;
}
.gender-box .gender-check-box:first-child{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.gender-box .gender-check-box:last-child{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.gender-box .gender-check-box input{
  width: 0;
}
.gender-box .gender-check-box label{
  cursor: pointer;
}
.phoneNum-box{
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.verification-code-box{
  display: flex;
  justify-content: center;
  gap: 10px;
}
#veriInput{
  width: 70%;
}

.submit-button{
  border: none !important;
  display: flex;
  flex-direction: column;
}
.submit-button button{
  /* bottom: 0; */
  width: 100%;
  height: 52px;
  line-height: 52px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  background-color: #ccc;
  color: #ffffff;
  font-family: arial !important;
}
.colorrequest,
.signup-submit{
  background-color: #baa693 !important;
  cursor: pointer;
}
.signup-info{
  border: none !important;
  height: 25px !important;
  text-align: left;
}
@media screen and (max-width: 480px) {
    
  }