/* timesale */
.timesale {
  position: relative;
  width: 100%;
  padding: 13.8rem 0 11rem;
  background-color: #f5f6f7;
  text-align: center;
  z-index: 1;
  letter-spacing: -0.08em;
}
.timesale .inner {
  width: 118rem;
  margin: 0px auto;
  padding: unset;
}

.timesale em {
  font-weight: 500;
  font-size: 3.6rem;
}
.timesale h3 {
  margin-top: 2rem;
  font-size: 5.6rem;
  letter-spacing: -1px;
}
.timesale .timesale-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70rem;
  height: 68.8rem;
  padding-top: 2rem;
  margin: 5rem auto 0;
  background: url("../images/timesalebar.png") no-repeat center / 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.ts-font {
  font-weight: 300;
  font-size: 2.8rem;
}
#wrap > div.timesale.clearfix > div > div > h4 > em {
  font-size: 7.4rem;
  color: red;
}
.ts-font strong {
  display: block;
  font-weight: bold;
  height: 3.6rem;
  margin-top: 0.9rem;
  line-height: 3.3rem;
}
.ts-font strong::before {
  content: "";
  display: inline-block;
  width: 3.4rem;
  height: 3.6rem;
  margin: 0 1rem;
  vertical-align: top;
  background: url("../images/timeale-box.png") no-repeat center / 100%;
}
.ts-font strong::after {
  content: "";
  display: inline-block;
  width: 3.4rem;
  height: 3.6rem;
  margin: 0 1rem;
  vertical-align: top;
  background: url("../images/timeale-box.png") no-repeat center / 100%;
}
.timesale-box h4 {
  position: relative;
  display: inline-block;
  padding: 0 0.8rem;
  margin-top: 3rem;
  font-size: 7.4rem;
  letter-spacing: -0.05em;
}
.count-time {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30rem;
  height: 11rem;
  margin: 5.5rem auto 0;
}
.count-time em {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.2;
  color: #000;
}
#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30rem;
  height: 10rem;
  padding-top: 1.5rem;
  margin: auto;
  font-weight: 500;
  font-size: 2.2rem;
  color: red;
  line-height: 1;
}
.ts-price {
  position: relative;
  display: block;
  width: 43.8rem;
  margin-top: 3.2rem;
  padding-right: 3rem;
  font-weight: 700;
  font-size: 2.8rem;
  letter-spacing: -1px;
  line-height: 9rem;
  color: #fff;
  background: #151c2b url("../images/ts-price-bt.png") no-repeat 36.5rem 50%/2.6rem;
  text-align: center;
  border-radius: 4.5rem;
  box-sizing: border-box;
}
.timesale-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e8e9e9 url(../images/timesalecolor.png) no-repeat center / 100%;
  animation: price-rotate 4s 1s infinite linear normal;
  z-index: -1;
}
@keyframes price-rotate {
  100% {
    transform: rotate(360deg);
  }
}
