/* timesale */
.timesale {
  position: relative;
  width: 100%;
  padding: 13.8rem 0 11rem;
  background-color: #f5f6f7;
  text-align: center;
  z-index: 1;
  letter-spacing: -0.08em;
  font-family: "Noto Serif KR";
}
.timesale .inner {
  margin: 0px auto;
  padding: unset;
}

.timesale em {
  font-weight: 500;
  font-size: 3.6rem;
}
.timesale h3 {
  margin-top: 2rem;
  font-size: 5.6rem;
  letter-spacing: -1px;
}
.timesale .timesale-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50.5rem;
  padding-top: 2rem;
  margin: 5rem auto 0;
  background: url("../images/timesalebar.png") no-repeat center / 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.timesale-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e8e9e9 url(../images/timesalecolor.png) no-repeat center / 100%;
  animation: price-rotate 4s 1s infinite linear normal;
  z-index: -1;
}
@keyframes price-rotate {
  100% {
    transform: rotate(360deg);
  }
}
.ts-font {
  font-weight: 300;
  font-size: 2.8rem;
}
#wrap > div.timesale.clearfix > div > div > h4 > em {
  font-size: 7rem;
  color: red;
}
.ts-font strong {
  display: block;
  font-weight: bold;
  height: 3.6rem;
  margin-top: 0.9rem;
  line-height: 3.3rem;
}
.ts-font strong::before {
  content: "";
  display: inline-block;
  width: 3.4rem;
  height: 3.6rem;
  margin: 0 1rem;
  vertical-align: top;
  background: url("../images/timeale-box.png") no-repeat center / 100%;
}
.ts-font strong::after {
  content: "";
  display: inline-block;
  width: 3.4rem;
  height: 3.6rem;
  margin: 0 1rem;
  vertical-align: top;
  background: url("../images/timeale-box.png") no-repeat center / 100%;
}
.timesale-box h4 {
  position: relative;
  display: inline-block;
  padding: 0 0.8rem;
  margin-top: 3rem;
  font-size: 7.4rem;
  letter-spacing: -0.05em;
}
.count-time {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30rem;
  height: 11rem;
  margin: 5.5rem auto 0;
}
.count-time em {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.2;
  color: #000;
}
#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30rem;
  height: 10rem;
  padding-top: 1.5rem;
  margin: auto;
  font-weight: 500;
  font-size: 2.2rem;
  color: red;
  line-height: 1;
}
.ts-price {
  position: relative;
  display: block;
  width: 43.8rem;
  margin-top: 3.2rem;
  padding-right: 3rem;
  font-weight: 700;
  font-size: 2.8rem;
  letter-spacing: -1px;
  line-height: 9rem;
  color: #fff;
  background: #151c2b url("../images/ts-price-bt.png") no-repeat 36.5rem 50%/2.6rem;
  text-align: center;
  border-radius: 4.5rem;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .timesale {
    padding: 6.2em 0 6em;
    font-size: 100%;
  }
  .timesale .inner {
    padding: 0 1.9em;
    box-sizing: border-box;
  }
  .timesale em {
    font-size: 1.8em;
  }
  .timesale h3 {
    font-size: 3.23em;
    letter-spacing: -0.05;
  }
  .timesale .timesale-box {
    width: 32.85em;
    height: 31.76em;
    margin: 2.38em auto 0;
    padding-top: 3.2em;
  }
  .ts-font {
    font-size: 1.33em;
  }
  .ts-font strong {
    height: 1.07em;
    margin-top: 0.2em;
    line-height: 1.07em;
  }
  .timesale-box h4 {
    padding: 0;
    margin-top: 0.3em;
    font-size: 3.76em;
  }
  .count-time {
    width: 19.5em;
    height: 5.14em;
    margin: 1.71em auto 0;
  }
  .count-time em {
    display: block;
    width: 2.5em;
    height: 2.27em;
    font-size: 2.04em;
    letter-spacing: 0;
  }
  .ts-price {
    width: 15.11em;
    margin-top: 1.25em;
    font-size: 1.71em;
    line-height: 3.57em;
    border-radius: 2.8em;
    background-position: 13em;
    background-size: 1em;
  }
  .ts-font strong::before,
  .ts-font strong::after {
    width: 1.4em;
    height: 1.4em;
  }
  #countdown {
    font-size: 1.64em;
    display: block;
    padding-top: 0.8em;
    width: 15em;
  }
}
@media screen and (max-width: 500px) {
  .timesale .timesale-box {
    width: 24.85em;
    height: 23.76em;
    margin: 2.38em auto 0;
    padding-top: 3.2em;
  }
  .timesale-box h4 {
    font-size: 2.9em;
  }
  .count-time em {
    font-size: 1.5em;
  }
  #countdown {
    padding-top: 0.5em;
  }
  .ts-price {
    width: 13em;
    font-size: 1.2em;
    background: #151c2b url("../images/ts-price-bt.png") no-repeat 11.5rem 50%/1.4rem;
    padding-right: 1.5em;
  }
}
@media screen and (max-width: 360px) {
  .timesale .timesale-box {
    width: 20.85em;
    height: 19.76em;
    margin: 2.38em auto 0;
    padding-top: 3.2em;
  }
  .timesale-box h4 {
    font-size: 2.5em;
  }
  .count-time {
    margin: 1em;
    height: 3em;
  }
  .count-time em {
    font-size: 1.3em;
  }
  #countdown {
    padding-top: 0.5em;
  }
  .ts-price {
    width: 13em;
    font-size: 1em;
    background: #151c2b url("../images/ts-price-bt.png") no-repeat 11.5em 50%/1em;
    padding-right: 1.5em;
    margin-top: 0em;
    line-height: 2.57em;
  }
}
