@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&display=swap");
/* ------------visual---------- */
.visual .inner {
  max-width: 1920px;
  background: url("../images/real_back_06.jpg") no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.visual_inner {
  max-width: 1920px;
  background: rgba(0, 0, 0, 0.5);
}
.main {
  height: 100vh;
  width: 100%;
  position: relative;
}
.center {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
}
.imgContainer {
  overflow: hidden;
  position: absolute;
  width: 0%;
  height: 100%;
}
#visual_back1 {
  background: url("../images/real_back_15.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
}
#visual_back2 {
  background: url("../images/real_back_05.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
}
#visual_back3 {
  background: url("../images/real_back_03.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
}
#visual_back4 {
  background: url("../images/real_back_06.jpg") no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.heading {
  overflow: hidden;
  height: 100px;

  width: 90%;

  z-index: 2;
  position: absolute;
  top: 50%;
  left: 10%;
}
.heading h1 {
  position: absolute;
  font-size: 5rem;
  top: 100px;
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  user-select: none;
  /* color: #946c4d; */
  color: #f0f0f0;
  /* text-shadow: 2px 6px 2px rgba(15, 15, 15, 0.3); */
}
.lines {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  position: absolute;
  left: 5%;
  top: 10%;
  z-index: 999;
}
.line {
  height: 80px;
  width: 3px;
  background-color: #d3d3d3;
}
.line.active {
  background-color: #333333;
}
.textContainer {
  position: absolute;
  width: 700px;
  height: 150px;
  overflow: hidden;
  top: 61%;
  left: 10%;
  z-index: 3;
  margin-top: -10px;
}
.visual_text {
  text-align: left;
  position: absolute;
  top: -100%;
  color: #d8d8d8;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5px;
  user-select: none;
  /* text-shadow: 1px 2px 1px rgba(212, 212, 212, 0.3); */
}
.imgContainer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
}
.visual_button_detail {
  padding-top: 2%;
}
.visual_button_detail button {
  border: none;
  background: none;
  border: 2px solid #c7c7c7;
  padding: 7px;
  width: 120px;
  height: 40px;
}
.visual_button_detail button a {
  font-weight: 500;
  color: #c7c7c7;
}
.visual_button_detail button:hover {
  background: rgba(255, 255, 255, 0.2);
  /* border: 2px solid #4e4e4e; */
  cursor: pointer;
}
.visual_button_detail button:hover a {
  font-weight: 600;
  color: #b6b6b6;
}
/* ------------반응형----------- */
@media all and (max-width: 1440px) {
}
@media all and (max-width: 1215px) {
}
@media all and (max-width: 1024px) {
  .heading h1 {
    font-size: 74px;
  }
  .textContainer {
    width: 58%;
    margin-top: -11px;
  }
  .visual_text {
    font-size: 16px;
  }
  .visual_button_detail {
    padding-top: 3%;
  }
  .visual_button_detail button {
    padding: 7px;
    width: 100px;
  }
  .visual_button_detail button p {
    font-weight: 400;
    font-size: 12px;
  }
}
@media all and (max-width: 768px) {
  .heading h1 {
    font-size: 62px;
  }
  .textContainer {
    width: 70%;
    margin-top: -30px;
  }
  .visual_text {
    font-size: 12px;
    line-height: 17px;
  }
  .visual_button_detail button {
    padding: 7px;
  }
  .visual_button_detail button p {
    font-weight: 300;
  }
}
@media all and (max-width: 480px) {
  .heading h1 {
    font-size: 59px;
  }
  .textContainer {
    width: 350px;
    margin-top: -5px;
  }
  .visual_text {
    line-height: 16px;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 5px;
  }
  .visual_button_detail {
    margin-top: 5px;
  }
  .visual_button_detail button {
    width: 100px;
    height: 40px;
  }
}
@media all and (max-width: 360px) {
}
