/* font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");

/*  */
.visual .inner {
  max-width: 1920px;
}
.visual_swiper {
  width: 100%;
  height: 100%;
}
.visual_swiper .swiper-slide {
  position: relative;
  width: 100%;
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visual_swiper_back01 {
  width: 100%;
  background: url("../images/real_back_15.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.visual_swiper_back02 {
  width: 100%;
  background: url("../images/real_back_06.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.visual_swiper_back03 {
  width: 100%;
  background: url("../images/real_back_16.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.visual_swiper_back04 {
  width: 100%;
  background: url("../images/real_back_07.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.visual_swiper .swiper-slide::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}
.visual_swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
.visual_swiper .swiper-button-prev::after {
  color: #bdbdbd;
  display: none;
}
.visual_swiper .swiper-button-next::after {
  color: #bdbdbd;
  display: none;
}
.visual_swiper .swiper-pagination-bullet:root {
  background: #f7f7f7;
}
.visual_swiper .swiper-pagination-bullet {
  background-color: #bdbdbd;
  margin: 0 150px;
  width: 50px;
  height: 15px;
  border-radius: 20px;
}
.visual_swiper_text {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  color: #dddddd;
  z-index: 2;
}
.visual_swiper_text h3 {
  font-family: "Noto Serif KR", serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  font-size: 78px;
  text-align: center;
  user-select: none;
}
.visual_swiper_text p {
  padding-top: 20px;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  line-height: 25px;
}
.visual_button_detail {
  padding-top: 20px;
}
.visual_button_detail button {
  border: none;
  background: none;
  border: 2px solid #c7c7c7;
  /* border-radius: 50px; */
  padding: 7px;
  width: 120px;
  height: 40px;
}
.visual_button_detail button a {
  font-weight: 500;
  color: #c7c7c7;
}
.visual_button_detail button:hover {
  background: rgba(255, 255, 255, 0.2);
  /* border: 2px solid #4e4e4e; */
  cursor: pointer;
}
.visual_button_detail button:hover a {
  font-weight: 600;
  color: #b6b6b6;
}
@media all and (max-width: 1024px) {
  .visual .inner {
    max-width: 1024px;
  }
}
@media all and (max-width: 480px) {
  .visual .inner {
    max-width: 480px;
  }
  .visual_swiper_text {
    width: 60%;
  }
  .visual_swiper_text h3 {
    font-size: 58px;
  }
  .visual_swiper_text p {
    font-size: 14px;
    line-height: 18px;
  }
}
