/* 웨딩 홀 */
.wedding-hall {
  position: relative;
  display: block;
  width: 100%;
}
.swiperbox {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
.wSwiper {
  position: relative;
  display: block;
  float: left;
}

.wSwiper .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.w-sitebox {
  width: 100%;
  margin: 0 auto;
}
.w-sbox1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.w-sbox2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.w-tbox {
  width: 50%;
  min-width: 350px;
  margin-bottom: 15px;
  text-align: center;
  padding: 15px;
}
.w-tbox img {
  width: 80%;

  cursor: pointer;
}
.w-tbox img:hover {
  transform: scale(1.03);
  transition: all 2s;
}
.w-tbox p {
  margin: 10px;
}
.title-text {
  width: 100%;
  height: 92px;

  margin: 60px 0px 100px auto;
}
.title-text .title {
  font-family: "Noto Serif KR", "serif";
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #887160;
}
.title-text p {
  font-size: 22px;
  color: #887160;
  font-family: "notoSans";
}
.w-tbox p {
  font-size: 18px;
  font-weight: 700;
}
.w-tbox span {
  color: #baa693;
}

@media all and (max-width: 1266px) {
  .swiperbox {
    display: block;
  }
  .wSwiper {
    float: none;
    margin: 10 auto;
    padding: 10px;
    margin-bottom: 50px;
  }

  .w-sitebox {
    width: 100%;
  }

  .w-sbox1,
  .w-sbox2 {
    justify-content: center;
  }
}

@media all and (max-width: 602px) {
  .wSwiper {
    text-align: center;
  }
  .w-sbox1,
  .w-sbox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .w-tbox {
    text-align: none;
  }
}
@media all and (max-width: 594px) {
  .wSwiper {
    min-width: 288px;
  }
  .wSwiper img {
    min-width: 288px;
    min-height: 218px;
  }
}
@media all and (max-width: 472px) {
  .title-text .title {
    text-align: center;
    font-size: 36px;
  }
  .title-text p {
    text-align: center;
    font-size: 18px;
  }
}
@media all and (max-width: 386px) {
  .title-text p {
    font-size: 16px;
  }
}
@media all and (max-width: 320px) {
  .title-text .title {
    font-size: 32px;
    padding: 10px;
  }
}
