/* 웨딩 홀 */
.wedding-hall {
  position: relative;
  display: block;
  width: 100%;
}
.swiperbox {
  position: relative;
  display: block;
  width: 100%;
}
.w-swiper {
  position: relative;
  display: block;
  width: 50%;
  height: 50%;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.w-sitebox {
  width: 100%;
  margin: 0 auto;
}
.w-sbox1 {
  display: flex;
  justify-content: space-between;
}
.w-sbox2 {
  display: flex;
  justify-content: space-between;
}
.w-tbox {
  width: 360px;
  height: 277px;
  padding: 15px;
  text-align: center;
}
.w-tbox img {
  width: 90%;
  cursor: pointer;
}
.w-tbox p {
  margin: 10px;
}
.title-text {
  width: 100%;
  height: 92px;
  margin-top: 60px;
  margin-bottom: 100px;
}
.title-text .title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #887160;
}
.title-text p {
  font-size: 22px;
  color: #887160;
}
.w-tbox p {
  font-size: 18px;
  font-weight: 700;
}
.w-tbox span {
  color: #baa693;
}

@media all and (max-width: 1266px) {
  .w-swiper {
    float: none;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .w-sitebox {
    width: 100%;
  }

  .w-sbox1,
  .w-sbox2 {
    justify-content: center;
  }
}

@media all and (max-width: 602px) {
  .w-sitebox {
    text-align: center;
  }
  .w-sbox1,
  .w-sbox2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .w-tbox {
    text-align: none;
  }
}
@media all and (max-width: 594px) {
  .w-swiper {
    min-width: 288px;
  }
  .w-swiper img {
    min-width: 288px;
    min-height: 218px;
  }
}
@media all and (max-width: 472px) {
  .title-text .title {
    font-size: 36px;
  }
  .title-text p {
    font-size: 18px;
  }
}
@media all and (max-width: 386px) {
  .title-text p {
    font-size: 16px;
  }
}
